[submodule "aidbox-forms/aidbox-forms-builder-custom-renderer/swm/vendor/sdc-smart-web-messaging"]
	path = aidbox-forms/aidbox-forms-builder-custom-renderer/swm/vendor/sdc-smart-web-messaging
	url = https://github.com/brianpos/sdc-smart-web-messaging.git
