.DS_Store
node_modules
pgdata
.env
.env.prod
.env.dev
.idea
.DS_STORE
*~
secrets.json
yarn.lock
.calva
.gradle
hs_telemed
*.session.sql
*.cer
*.mobileprovision
*.zip
.drone.sec
.lsp
.clj-kondo
zen-packages
some.json
narrative.html
.tool-versions
createdata.js
deploy.yaml
helm-db.yaml
Session.vim
