:80 {
	root * /srv
	file_server

	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Methods "GET, POST, OPTIONS"
		Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
	}

	@options {
		method OPTIONS
	}
	respond @options 204
}