# FHIR Facade Configuration

# Server
PORT=3000
CACHE_TTL_SECONDS=60
REDIS_URL=redis://redis:6379

# HIS (Hospital Information System) API
HIS_BASE_URL=http://his:4000
HIS_CLIENT_ID=his-client
HIS_CLIENT_SECRET=his-secret
HIS_ENVIRONMENT=TEST

# Requesting Product header value
REQUESTING_PRODUCT=FHIR-Facade/1.0.0

# Event-Driven Architecture
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672
FHIR_SERVER_URL=http://aidbox:8080
AIDBOX_CLIENT_ID=root
AIDBOX_CLIENT_SECRET=WdodyB65ij
PREFETCH=10
